body {
    display: flex;
    margin: 0px;
    background-color: #F8B195;
}

.body{
    display: flex;
}

.bodyRPS, .bodyEAS, .bodyCalc{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.post1, .post2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #C06C84;
    border-radius: 12px;
    margin-bottom: 50px;
}

.post1 {
    margin-bottom: 50px;
}

.main {
    display: flex;
    padding: 0px 30px 30px;
    flex-direction: column;
    margin-right: 200px;
}

.sidebar {
    background-color: #355C7D;
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-width: 200px;
    height: 100vh;
    position: absolute;
    right: 0;
}

footer {
    background-color: #6C5B7B;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    padding: 10px 5px 10px 10px;
    width: 99%;
}